body {
	font: normal 12px auto Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	background: White;
}

a {
	color: #c75f3e;
}

.datatable {
	width: auto;
	padding: 0;
	margin: 0;
}

.datatable caption {
	padding: 0 0 5px 0;
	width: 700px;
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
}

.datatable th {
	font: bold 11px Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA;
}

.datatable td {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
}


.datatable td.alt {
	background: #F5FAFA;
}

.datatable tfoot.tfooter{
	text-align: center;
}

.datatable img{
	vertical-align: middle;
}

.datatable a img{
	border: none;
}

form {  /* set width in form, not fieldset (still takes up more room w/ fieldset width */
  font:100% verdana,arial,sans-serif;
  padding: 0;
  min-width: 600px;
  max-width: 800px;
  width: 750px; 
}

form fieldset {
  / * clear: both; note that this clear causes inputs to break to left in ie5.x mac, commented out */
  border-color: #000;
  border-width: 1px;
  border-style: solid;
  padding: 10px;        /* padding in fieldset support spotty in IE */
  margin: 0;
}

form fieldset legend {
	font-size:1.1em; /* bump up legend font size, not too large or it'll overwrite border on left */
                   /* be careful with padding, it'll shift the nice offset on top of border  */
  font-weight:bold;                   
}

form label { 
	display: block;  /* block float the labels to left column, set a width */
	float: left; 
	width: 150px; 
	padding: 0; 
	margin: 5px 0 0; /* set top margin same as form input - textarea etc. elements */
	text-align: right;
}

form img {
	padding: 0 0 0 160;
}

form input, form select, form textarea {
	/* display: inline; inline display must not be set or will hide submit buttons in IE 5x mac */
	width:260px;      /* set width of form elements to auto-size, otherwise watch for wrap on resize */
	margin:5px 0 0 10px; /* set margin on left of form elements rather than right of
                              label aligns textarea better in IE */
}

form input#reset {
	margin-left:0px; /* set margin-left back to zero on reset button (set above) */
}

textarea { overflow: auto; }

form small {
	display: block;
	margin: 0 0 5px 160px; /* instructions/comments left margin set to align w/ right column inputs */
	padding: 1px 3px;
	font-size: 88%;
}

form .required{font-weight:bold;} /* uses class instead of div, more efficient */

form br {
	clear:left; /* setting clear on inputs didn't work consistently, so brs added for degrade */
}

form button {
  margin:5px 0 0 160px;
}
form button.affiancato {
  margin-left:0px;
}