BODY
{
margin: 0 1px 0 0;
padding: 10px;
}
#testata
{
background-color: #dcb2ff;
padding:10px;
}
#menu
{ float: left;
width: 20%;}
#main
{ float: left;
width: 80%;
background-color: gainsboro; }
#main1
{ float: left;
width: 80%;
background-color: #A6C4CE; }
.box
{
padding:10px;
}